.formitnow-tag{
	display: inline-block;
	padding: 6px 12px;
	font-weight: normal;
	font-size: 15px;
	margin: 5px 0 0;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	white-space: nowrap;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-align:center;
	width:80px;
}

.tutor{
	background: #FF9900;
}

.carpool{
	background: #A75375;
}

.roomate{
	background: #990000;
}

.recruit{
	background: #003300;
}

.formitnow-posttitle{
	font-size:25px;
	margin-left:10px;
}

.formitnow-time{
	color:#DDD;
	font-size:12px;
	font-style:italic;
	text-align:right;
	margin-left:10px;
}

.formitnow-addjob-wording{
	font-size:28px;
	padding-top:10px;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
	vertical-align:text-top;
}

.formitnow-avatar{
	border-style:solid;
	border-color:#DDD;    
    border-width:5px;
    float:left;
}

.formitnow-jobtitle
{
	background-color: #DDD;
	padding:5px;
	width:500px;
	text-align:center;
	float:right;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	margin-top:20px;
}

.formitnow-jobmodal{
	background-color:#DDD;

}

.formitnow-profileavatar {
	width: 20px;
	height: 20px;
}
.table th,.table td{
	padding-top:8px;line-height:20px;text-align:left;vertical-align:top;border-top:1px solid #1cafbd;
}